$color_1: #FF6060;
$color_2: #FFF;
$font-family_1: Montserrat;

.Main {
	h1 {
		color: $color_1;
		text-align: center;
		font-family: $font-family_1;
		font-size: 288px;
		font-style: normal;
		font-weight: 700;
		line-height: 142.6%;
		width: 597px;
		height: 263px;
		margin-left: 421px;
	}
	display: flex;
	justify-content: center;
	flex-direction: column;
	p {
		color: $color_1;
		font-family: $font-family_1;
		font-size: 36px;
		font-style: normal;
		font-weight: 500;
		line-height: 142.6%;
		display: flex;
		justify-content: center;
		width: 872px;
		margin-left: 280px;
	}
	a {
		color: $color_1;
		font-family: $font-family_1;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 142.6%;
		text-decoration-line: underline;
		margin-left: 600px;
	}
}
.footer {
	width: 1440px;
	height: 209px;
	img {
		margin-left: 570px;
		margin-top: 66px;
	}
	p {
		color: $color_2;
		text-align: center;
		font-family: $font-family_1;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 142.6%;
		width: 513px;
		height: 46px;
		margin-left: 427px;
		margin-top: 0;
	}
}
