.logo {
    display: flex;
    margin: 45px 720px 50px 75px;
}

.reference {
    white-space: nowrap;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    cursor: pointer;
}

.reference:nth-child(2) {
    margin-left: 720px;
}

.reference:nth-child(3) {
    margin-left: 57px;
}

.reference:nth-child(3):hover {
    text-decoration: underline;
}

.reference:nth-child(2):hover {
    text-decoration: underline;
}