.main {
    width: 1240px;
    height: 415px; 
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 70px;
}

.title {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Work Sans', sans-serif;