@import url(../styles/font.scss);
html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1440px;
}

/* BANNER */
.logo {
  display: flex;
  margin: 45px 720px 50px 75px;
}

.reference {
  white-space: nowrap;
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  cursor: pointer;
  text-decoration: none;
}
.reference:nth-child(2) {
  margin-left: 720px;
  margin-top: 26px;
}
.reference:nth-child(2):hover {
  text-decoration: underline;
}
.reference:nth-child(3) {
  margin-left: 57px;
  margin-top: 26px;
}
.reference:nth-child(3):hover {
  text-decoration: underline;
}

/* Cards */
.Cards-background {
  border-radius: 25px;
  background: #F6F6F6;
  margin-left: 45px;
  margin-top: 110px;
  overflow: hidden;
  margin-right: 119px;
}

.card {
  width: 340px;
  height: 340px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 888px;
  grid-gap: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.cards-Main {
  border-radius: 10px;
}
.cards-Main h3 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 300px;
  margin-left: 60px;
  margin-top: -40px;
  white-space: nowrap;
  font-size: 16px;
}
.cards-Main img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  cursor: pointer;
}
.cards-Main img:hover {
  width: 350px;
  height: 350px;
  transition-duration: 0.6s;
}

/* Main */
.imagePresentation {
  width: 1240px;
  height: 235px;
  border-radius: 25px;
  margin-right: 45px;
  margin-left: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #000;
  filter: brightness(0.7);
}

.titreImage {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: -153px;
  padding-left: 265px;
  filter: brightness(1);
}

/* About */
.banner {
  display: flex;
  margin-top: 40px;
  margin-left: 80px;
}
.banner a {
  margin-top: 22px;
  text-decoration: none;
}

.aboutMain img {
  width: 900px;
  height: 223px;
  border-radius: 25px;
  margin-left: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 38px;
  filter: brightness(0.7);
}

.cardsPosition {
  margin-top: 0px;
}
.cardsPosition .cards {
  margin-top: 38px;
  margin-left: 150px;
  padding: 10px 20px 10px 15px;
  width: 1023px;
  background: var(--Red, #FF6060);
  border-radius: 5px;
  color: #FF6060;
  display: flex;
}
.cardsPosition .cards h1 {
  color: #FFF;
  margin: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.cardsPosition .cards img {
  margin-left: 900px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.description {
  height: 0px;
  background: var(--Gray, #F6F6F6);
  overflow: hidden;
  width: 1050px;
  margin-left: 153px;
}
.description p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  display: flex;
  justify-content: center;
}

.footer {
  width: 1440px;
  height: 209px;
}

.footerLogo {
  margin: 66px 464px 29px 463px;
}

.footerH2 {
  margin-top: -30px;
  margin-left: 430px;
  color: #FFF;
  width: 513px;
  height: 46px;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

/* Error404 */
.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Main h1 {
  color: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
  width: 597px;
  height: 263px;
  margin-left: 421px;
}
.Main p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  justify-content: center;
  width: 872px;
  margin-left: 280px;
}
.Main a {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  margin-left: 600px;
}

.footer {
  width: 1440px;
  height: 209px;
}
.footer img {
  margin-left: 570px;
  margin-top: 66px;
}
.footer p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 513px;
  height: 46px;
  margin-left: 427px;
  margin-top: 0;
}

/* Footer */
.footer {
  width: 1440px;
  height: 209px;
  background: #000;
  margin-top: 50px;
}

.logoFooter {
  margin-bottom: 0;
}

.footerText {
  color: white;
  margin-top: -25px;
}

/* logement */
.picture {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 70px;
}
.picture img {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}
.picture img:nth-child(2), .picture img:nth-child(3) {
  width: 46.68px;
  height: 79.2px;
  color: #FFF;
  cursor: pointer;
}

.title {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 70px;
  margin-left: 70px;
}
.title h1 {
  margin-bottom: 0;
}
.title .location {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.tags {
  border-radius: 10px;
  margin-bottom: 34px;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  align-items: center;
}
.tags h1 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  padding: 3px 41px 2px 40px;
  width: 34px;
  height: 20px;
}
.tags:nth-child(2) {
  background: #FF6060;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  margin-left: 10px;
  padding: 3px 41px 2px 40px;
}
.tags:nth-child(1) {
  background: #FF6060;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  margin-left: 10px;
  padding: 3px 41px 2px 40px;
}
.tags .host {
  background-color: #FFF;
  margin-left: 300px;
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.CardsPositionLogement {
  display: flex;
}
.CardsPositionLogement .cards {
  width: 582px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background: var(--Red, #FF6060);
  margin-left: 60px;
  display: flex;
}
.CardsPositionLogement .cards h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-left: 0;
}
.CardsPositionLogement .cards img {
  margin-left: 450px;
  width: 32px;
  height: 32px;
  margin-top: 7px;
  cursor: pointer;
}
.CardsPositionLogement .cardsEquipement {
  width: 582px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background: var(--Red, #FF6060);
  margin-left: 100px;
  display: flex;
  margin-left: 0;
}
.CardsPositionLogement .cardsEquipement h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-left: 0;
}
.CardsPositionLogement .cardsEquipement img {
  margin-left: 410px;
  width: 32px;
  height: 32px;
  margin-top: 7px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  /*Acceuil*/
  .logo .reference {
    margin-left: 531px;
  }
  .logo :nth-child(3) {
    margin-left: 50px;
  }
  .logo img {
    margin-left: 144px;
  }
  .main img {
    width: 70%;
    margin-left: 215px;
  }
  .main p {
    padding-left: 355px;
  }
  .Cards-background {
    width: 1010px;
    margin-left: 212px;
    height: 3935px;
  }
  .Cards-background .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*Logement*/
  .picture img {
    width: 335px;
    margin-left: 480px;
  }
  .title {
    width: 335px;
    height: 46px;
    font-size: 18px;
    margin-left: 550px;
  }
  .tags {
    margin-left: 525px;
    margin-top: 65px;
    width: 84px;
    height: 18px;
  }
  .tags p {
    font-size: 10px;
  }
  .CardsPositionLogement {
    display: flex;
    flex-direction: column;
  }
  .CardsPositionLogement .cardsEquipement {
    margin-left: 0;
    width: 335px;
    height: 30px;
    margin-left: 535px;
    margin-bottom: 10px;
  }
  .CardsPositionLogement .cardsEquipement img {
    margin-left: 227px;
    margin-top: 0px;
  }
  .CardsPositionLogement .cardsEquipement :nth-child(2) {
    margin-left: 189px;
  }
  .CardsPositionLogement h1 {
    margin-top: 3px;
  }
  /*About*/
  .aboutMain img {
    width: 900px;
    margin-left: 250px;
  }
  .cardsPosition .cards {
    width: 950px;
    margin-left: 215px;
  }
  .cardsPosition .cards img {
    margin-left: 825px;
  }
}
@media screen and (max-width: 768px) {
  /*Acceuil*/
  .logo {
    width: 335px;
  }
  .logo img {
    width: 145px;
    margin-left: 470px;
  }
  .logo :nth-child(2) {
    margin-left: 43px;
    width: 55px;
    font-size: 12px;
  }
  .logo :nth-child(3) {
    margin-left: 26px;
    width: 55px;
    font-size: 12px;
  }
  .main .imagePresentation {
    width: 335px;
    height: 111px;
    margin-left: 550px;
  }
  .main p {
    font-size: 24px;
    width: 217px;
    height: 48px;
    padding-left: 0px;
    margin-top: -94px;
    margin-left: 568px;
  }
  .Cards-background {
    margin-top: 70px;
    margin-left: 532px;
    height: 100%;
    width: 375px;
  }
  .Cards-background .card {
    margin-left: -35px;
    width: 335px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer img {
    width: 122px;
    margin-left: 650px;
  }
  .footer p {
    width: 133.594px;
    font-size: 12px;
    margin-left: 650px;
  }
  /*About*/
  .banner {
    width: 335px;
    margin-left: 550px;
  }
  .banner img {
    width: 145px;
  }
  .banner :nth-child(2) {
    margin-left: 43px;
    width: 55;
    font-size: 12px;
  }
  .banner :nth-child(3) {
    margin-left: 26px;
    width: 55px;
    font-size: 12px;
  }
  .aboutMain {
    margin-left: 480px;
  }
  .aboutMain img {
    width: 335px;
    height: 111px;
    margin-left: 70px;
  }
  .description p {
    width: 360px;
    margin-left: 388px;
    height: 61.533px;
    color: #FF6060;
    font-size: 11px;
  }
  .description {
    margin-top: -7px;
  }
  .cardsPosition {
    width: 335px;
    height: 300px;
    margin-bottom: 19px;
  }
  .cardsPosition .cards {
    height: 30px;
    width: 335px;
    margin-left: 534px;
  }
  .cardsPosition .cards h1 {
    font-size: 13px;
    color: #FFF;
    padding-top: 6px;
  }
  .cardsPosition .cards img {
    color: #FFF;
    margin-left: 250px;
  }
  .footer {
    margin-top: 174px;
  }
  .footer .footerH2 {
    width: 133px;
    margin-left: 620px;
    font-size: 12px;
  }
  /*Error*/
  .Main h1 {
    width: 198px;
    height: 98px;
    font-size: 96px;
    margin-left: 620px;
  }
  .Main p {
    font-size: 18px;
    width: 260px;
    margin-left: 610px;
  }
  /*Logement*/
  .picture img {
    width: 335px;
    margin-left: 480px;
  }
  .title {
    width: 335px;
    height: 46px;
    font-size: 18px;
    margin-left: 550px;
  }
  .tags {
    margin-left: 525px;
    margin-top: 65px;
    width: 84px;
    height: 18px;
  }
  .tags p {
    font-size: 10px;
  }
  .CardsPositionLogement {
    display: flex;
    flex-direction: column;
  }
  .CardsPositionLogement .cardsEquipement {
    margin-left: 0;
    width: 335px;
    height: 30px;
    margin-left: 535px;
    margin-bottom: 10px;
  }
  .CardsPositionLogement .cardsEquipement img {
    margin-left: 227px;
    margin-top: 0px;
  }
  .CardsPositionLogement .cardsEquipement :nth-child(2) {
    margin-left: 189px;
  }
  .CardsPositionLogement h1 {
    margin-top: 3px;
  }
}/*# sourceMappingURL=Styles.css.map */