@import url(font.scss);
html {
  display: flex;
  justify-content: center;
}

.logoAcceuil {
  width: 100%;
  height: auto;
  margin-top: 45px;
  margin-bottom: 50px;
}
.logoAcceuil img {
  margin-right: 720px;
}
.logoAcceuil .reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}
.logoAcceuil .reference:hover {
  text-decoration: underline;
}
.logoAcceuil :nth-child(3) {
  margin-left: 2%;
}

.pictureAccueil {
  width: 1240px;
  height: 223px;
  margin-bottom: 43px;
}
.pictureAccueil img {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(73%);
  z-index: -1;
}
.pictureAccueil .pictureTitle {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.Cards-background {
  background-color: #F6F6F6;
  width: 1240px;
  height: 2800px;
  border-radius: 25px;
}
.Cards-background .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Cards-background .card-container .card {
  margin-top: 50px;
  margin-left: 40px;
  width: 340px;
  height: 340px;
}
.Cards-background .card-container .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.Cards-background .card-container .card h3 {
  width: 100%;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: -40px;
  margin-left: 20px;
  white-space: nowrap;
}

.footerAccueil {
  background-color: #000;
  width: 100%;
  height: 209px;
  margin-top: 50px;
}
.footerAccueil .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerAccueil .footerText {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 513px;
  height: 46px;
  margin-left: 370px;
}

/*About*/
.banner {
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
}
.banner img {
  margin-right: 720px;
}
.banner .reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}
.banner .reference:hover {
  text-decoration: underline;
}
.banner :nth-child(3) {
  margin-left: 57px;
  white-space: nowrap;
}
.banner :nth-child(2) {
  padding-top: 22px;
}

.pictureAbout {
  width: 100%;
  height: auto;
}
.pictureAbout img {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  filter: brightness(73%);
  -o-object-fit: cover;
     object-fit: cover;
}

.cardsPosition {
  width: 1023px;
  margin-top: 38px;
  margin-left: 95px;
}
.cardsPosition .description {
  background-color: #F6F6F6;
  margin-top: 0px;
  margin-bottom: 16px;
  overflow: hidden;
}
.cardsPosition .description p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  margin-left: 20px;
}
.cardsPosition .cards {
  background-color: #FF6060;
  width: 1023px;
  height: 52px;
  border-radius: 5px;
}
.cardsPosition .cards .card-header {
  height: 52px;
  display: flex;
}
.cardsPosition .cards .card-header h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 956px;
  margin: 10px 0px 10px 15px;
}
.cardsPosition .cards .card-header img {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
}

.footerAbout {
  background-color: #000;
  width: 100%;
  height: 209px;
  margin-top: 50px;
}
.footerAbout .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerAbout .footerH2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 513px;
  height: 46px;
  margin-left: 370px;
}

/*Error*/
.bannerError {
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
}
.bannerError img {
  margin-right: 720px;
}
.bannerError .reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}
.bannerError .reference:hover {
  text-decoration: underline;
}
.bannerError :nth-child(3) {
  margin-left: 57px;
  white-space: nowrap;
  padding-top: 22px;
}
.bannerError :nth-child(2) {
  padding-top: 22px;
}

.Error404 {
  justify-items: center;
  display: grid;
}
.Error404 h1 {
  margin-top: 0;
  width: 597px;
  height: 263px;
  color: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
.Error404 p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-bottom: 139px;
}
.Error404 a {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  margin-bottom: 139px;
}

.footerError {
  background-color: #000;
  width: 100%;
  height: 209px;
  margin-top: 50px;
}
.footerError .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerError p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 513px;
  height: 46px;
  margin-left: 340px;
}

/*Logement*/
.banner {
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
}
.banner img {
  margin-right: 720px;
}
.banner .reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}
.banner .reference:hover {
  text-decoration: underline;
}
.banner :nth-child(3) {
  margin-left: 57px;
  white-space: nowrap;
  padding-top: 0;
}
.banner :nth-child(2) {
  padding-top: 22px;
}

.pictureLogement {
  width: 1240px;
  height: 415px;
}
.pictureLogement img {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}
.pictureLogement .arrowLeft {
  width: 46.68px;
  height: 79.2px;
  position: absolute;
  top: 345px;
  left: 26px;
  cursor: pointer;
}
.pictureLogement .arrowRight {
  width: 46.68px;
  height: 79.2px;
  position: absolute;
  top: 345px;
  left: 1135px;
  cursor: pointer;
}

.titleLogement {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #FF6060;
  width: 635px;
  white-space: nowrap;
}
.titleLogement h1 {
  margin-bottom: 15px;
}
.titleLogement h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0px;
}
.titleLogement .host {
  margin-top: -45px;
  height: 30.333px;
  margin-left: 700px;
}
.titleLogement .host p {
  margin-left: 435px;
}
.titleLogement .host img {
  margin-left: 520px;
  margin-top: -75px;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.tagsLogement {
  width: auto;
  height: 45px;
  flex-direction: row;
  display: flex;
}
.tagsLogement h1 {
  background-color: #FF6060;
  width: auto;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  white-space: nowrap;
  margin-left: 10px;
  padding: 3px 10px 10px 10px;
}

.ratingLogement {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  margin-top: -28px;
  margin-bottom: 30px;
}
.ratingLogement .red-star {
  color: #FF6060;
}
.ratingLogement .gray-star {
  color: #F6F6F6;
}

.CardsPositionLogement {
  display: flex;
}
.CardsPositionLogement .cardsEquipement, .CardsPositionLogement .cardsEquipement2 {
  width: 582px;
  height: 52px;
  background-color: #FF6060;
  display: flex;
  border-radius: 10px;
}
.CardsPositionLogement .cardsEquipement h1, .CardsPositionLogement .cardsEquipement2 h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 520px;
}
.CardsPositionLogement .cardsEquipement img, .CardsPositionLogement .cardsEquipement2 img {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
.CardsPositionLogement .description {
  width: 582px;
  margin-top: 51px;
  margin-left: -615px;
  height: 114px;
  width: 545px;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  background-color: #F6F6F6;
}
.CardsPositionLogement .description2 {
  margin-top: 51px;
  margin-left: -544px;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  background-color: #F6F6F6;
}

.footerLogement {
  background-color: #000;
  width: 100%;
  height: 209px;
  margin-top: 50px;
}
.footerLogement .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerLogement p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 513px;
  height: 46px;
  margin-left: 340px;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  .logoAcceuil {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }
  .logoAcceuil img {
    margin-right: 50%;
  }
  .logoAcceuil .reference {
    white-space: nowrap;
    padding-top: 3%;
  }
  .pictureAccueil {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureAccueil img {
    width: 90%;
  }
  .Cards-background {
    width: 100%;
    height: auto;
  }
  .Cards-background .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Cards-background .card-container .card {
    margin-left: 10%;
  }
  /*About*/
  .banner {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }
  .banner img {
    margin-right: 50%;
  }
  .banner .reference {
    white-space: nowrap;
    padding-top: 3%;
  }
  .banner :nth-child(3) {
    padding-top: 1%;
  }
  .pictureAbout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureAbout img {
    width: 90%;
  }
  .cardsPosition {
    margin-left: 5%;
  }
  .cardsPosition .cards {
    width: 90%;
  }
  .cardsPosition .cards .card-header h1 {
    width: 90%;
  }
  .description {
    width: 90%;
  }
  /*Logement*/
  .banner {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }
  .banner img {
    margin-right: 50%;
  }
  .banner .reference {
    white-space: nowrap;
    padding-top: 3%;
  }
  .banner :nth-child(3) {
    padding-top: 1%;
  }
  .pictureLogement {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureLogement img {
    width: 90%;
  }
  .titleLogement {
    font-size: 12px;
    margin-left: 5%;
  }
  .tagsLogement {
    margin-left: 4%;
  }
  .CardsPositionLogement {
    width: 100%;
    display: flex;
  }
  .CardsPositionLogement :nth-child(1) {
    margin-left: 5%;
    margin-right: -5%;
  }
  .CardsPositionLogement .cardsEquipement {
    width: 40%;
  }
  .CardsPositionLogement .cardsEquipement h1 {
    width: 80%;
  }
  .CardsPositionLogement .cardsEquipement2 {
    width: 40%;
    margin-left: 10%;
  }
  .CardsPositionLogement .cardsEquipement2 h1 {
    width: 80%;
  }
  .CardsPositionLogement .description {
    width: 40%;
    height: auto;
    margin-left: -359px;
  }
  .CardsPositionLogement .description p {
    width: 100%;
    margin-left: 0%;
  }
  .CardsPositionLogement .description2 {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: -407px;
  }
  /*Error*/
  .bannerError {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }
  .bannerError img {
    margin-right: 50%;
  }
  .bannerError .reference {
    white-space: nowrap;
    padding-top: 3%;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  html {
    display: block;
  }
  .logoAcceuil {
    width: 100%;
  }
  .logoAcceuil img {
    width: 145px;
    margin-right: 0;
    margin-left: 20px;
  }
  .logoAcceuil .reference {
    width: auto;
    margin-left: 23px;
    margin-top: 35px;
    font-size: 12px;
  }
  .logoAcceuil :nth-child(3) {
    margin-left: 26px;
  }
  .pictureAccueil {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureAccueil img {
    width: 90%;
  }
  .Cards-background {
    background-color: #F6F6F6;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 25px;
  }
  .Cards-background .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;
    margin-left: -35px;
    margin-right: 55px;
  }
  .Cards-background .card-container .card {
    margin-top: 3%;
    width: 80%;
    height: auto;
  }
  .Cards-background .card-container .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .Cards-background .card-container .card h3 {
    width: 100%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-top: -40px;
    margin-left: 20px;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footerAccueil .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerAccueil .footerText {
    font-size: 12px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /*About*/
  .banner {
    width: 100%;
  }
  .banner img {
    width: 145px;
    margin-right: 0;
    margin-left: 20px;
  }
  .banner .reference {
    width: auto;
    margin-left: 43px;
    margin-top: 35px;
    font-size: 12px;
  }
  .banner :nth-child(3) {
    margin-left: 26px;
  }
  .banner :nth-child(2) {
    padding-top: 0px;
  }
  .pictureAbout {
    display: flex;
    justify-content: center;
  }
  .pictureAbout img {
    width: 90%;
  }
  .cardsPosition {
    margin-left: 20px;
    padding-left: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .cardsPosition .cards {
    width: 95%;
    height: 60px;
  }
  .cardsPosition .cards .card-header h1 {
    width: 85%;
  }
  .cardsPosition .description {
    width: 95%;
  }
  .footerAbout .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerAbout .footerH2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
  /*Error*/
  .bannerError {
    width: 100%;
  }
  .bannerError img {
    width: 145px;
    margin-right: 0;
    margin-left: 20px;
  }
  .bannerError .reference {
    width: auto;
    margin-left: 43px;
    margin-top: 35px;
    font-size: 12px;
  }
  .bannerError :nth-child(3) {
    margin-left: 26px;
    padding-top: 0;
  }
  .bannerError :nth-child(2) {
    padding-top: 0px;
    margin-left: 100px;
  }
  .Error404 h1 {
    width: 198px;
    height: 99px;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-bottom: 116px;
  }
  .Error404 P {
    margin-top: 0;
    width: 260px;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
  .Error404 a {
    width: 221px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 19.964px */
    text-decoration-line: underline;
  }
  .footerError .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerError p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /*Logement*/
  .pictureLogement {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .pictureLogement img {
    width: 90%;
    height: 255px;
  }
  .pictureLogement .arrowRight {
    left: 0;
  }
  .titleLogement {
    width: 335px;
    height: 46px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-left: 10px;
  }
  .titleLogement h1 {
    margin-bottom: 5px;
  }
  .titleLogement .host {
    margin-top: -47px;
    margin-left: -158px;
  }
  .titleLogement .host p {
    margin-left: 385px;
    margin-top: 87px;
  }
  .tagsLogement {
    margin-top: 10px;
  }
  .ratingLogement {
    margin-top: 0;
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
  .CardsPositionLogement {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
  }
  .CardsPositionLogement .cardsEquipement {
    width: 80%;
    height: 50px;
  }
  .CardsPositionLogement .cardsEquipement h1 {
    margin-left: 10px;
  }
  .footerLogement .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerLogement p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-left: 135px;
    width: 133px;
    margin-top: 10px;
  }
}/*# sourceMappingURL=Styles.css.map */