@import url(font.scss);
html {
  display: flex;
  justify-content: center;
  height: 1326px;
}

body {
  max-width: 1440px;
}

#root {
  height: 1266px;
}

.banner {
  width: 90%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
  margin-left: 5%;
}
.banner nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.banner nav .reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}
.banner nav .reference:hover {
  text-decoration: underline;
}
.banner nav .reference:nth-child(2) {
  margin-left: 2%;
  margin-top: 0;
  white-space: nowrap;
}
.banner nav .about-reference {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
  margin-left: 2%;
}
.banner nav .about-reference:hover {
  text-decoration: underline;
}
.banner nav .active {
  text-decoration: underline;
}

.pictureAccueil {
  width: 100%;
  height: auto;
  margin-bottom: 43px;
}
.pictureAccueil img {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}
.pictureAccueil .pictureTitle {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  position: relative;
  margin-top: -140px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  width: 88%;
  white-space: wrap;
}

.Cards-background {
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.Cards-background .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Cards-background .card {
  margin-top: 1.5%;
  margin-left: 8%;
  width: 84%;
  height: 95%;
  position: relative;
}
.Cards-background .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Cards-background .card h3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 80%;
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  white-space: wrap;
}

.footerAccueil {
  background-color: #000;
  width: 100%;
  height: 209px;
  margin-top: 50px;
}
.footerAccueil .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerAccueil .footerText {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
}

/*About*/
.pictureAbout {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.pictureAbout img {
  width: 90%;
  height: 223px;
  border-radius: 25px;
  filter: brightness(73%);
  -o-object-fit: cover;
     object-fit: cover;
}

.footerAbout {
  background-color: #000;
  width: 100%;
  height: 455px;
  margin-top: 50px;
}
.footerAbout .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerAbout .footerH2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
}

/*Error*/
.Error404 {
  justify-items: center;
  display: grid;
}
.Error404 h1 {
  margin-top: 0;
  width: 597px;
  height: 263px;
  color: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
.Error404 p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-bottom: 139px;
}
.Error404 a {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  margin-bottom: 139px;
}

.footerError {
  background-color: #000;
  width: 100%;
  height: 277px;
  margin-top: 50px;
}
.footerError .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerError p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
}

/*Logement*/
.titleLogement {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #FF6060;
  width: 635px;
  white-space: wrap;
  margin-left: 5%;
  width: 70%;
}
.titleLogement h1 {
  margin-bottom: 15px;
}
.titleLogement h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0px;
}

.ratingHost {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: -136px;
  margin-bottom: 90px;
}
.ratingHost .host {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.ratingHost .host h3 {
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.ratingHost .host img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-left: 10px;
}
.ratingHost .ratingLogement {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}
.ratingHost .ratingLogement .red-star {
  color: #FF6060;
}
.ratingHost .ratingLogement .gray-star {
  color: #F6F6F6;
}

.tagsLogement {
  width: auto;
  height: 45px;
  flex-direction: row;
  display: flex;
  margin-left: 5%;
}
.tagsLogement h1 {
  background-color: #FF6060;
  width: auto;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  white-space: nowrap;
  margin-left: 10px;
  padding: 3px 10px 10px 10px;
}

.CardsPositionLogement {
  margin-left: 5%;
  display: flex;
}
.CardsPositionLogement .cardCollumn1 {
  width: 100%;
}
.CardsPositionLogement .cardCollumn1 .cardsEquipement1 {
  background-color: #FF6060;
  width: 90%;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.CardsPositionLogement .cardCollumn1 .cardsEquipement1 h1 {
  width: 80%;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-left: 3%;
}
.CardsPositionLogement .cardCollumn1 .cardsEquipement1 img {
  cursor: pointer;
}
.CardsPositionLogement .cardCollumn1 .description {
  width: 90%;
  height: 0;
  overflow: hidden;
  background-color: #F6F6F6;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  padding: 0;
}
.CardsPositionLogement .cardCollumn2 {
  width: 100%;
}
.CardsPositionLogement .cardCollumn2 .cardsEquipement2 {
  background-color: #FF6060;
  width: 90%;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: flex;
}
.CardsPositionLogement .cardCollumn2 .cardsEquipement2 h1 {
  width: 80%;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-left: 3%;
}
.CardsPositionLogement .cardCollumn2 .cardsEquipement2 img {
  cursor: pointer;
}
.CardsPositionLogement .cardCollumn2 .description2 {
  width: 90%;
  height: 0;
  overflow: hidden;
  background-color: #F6F6F6;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  padding: 0;
}
.CardsPositionLogement .cardCollumn2 .description2 p {
  width: 50%;
}
.CardsPositionLogement .arrow.rotated {
  transform: rotate(180deg);
}
.CardsPositionLogement .description.open {
  height: auto;
}
.CardsPositionLogement .description {
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
.CardsPositionLogement .arrow.rotated {
  transform: rotate(180deg);
}
.CardsPositionLogement .description2.open {
  height: auto;
}
.CardsPositionLogement .description2 {
  height: 0;
  overflow: hidden;
  transition: height 1s;
}

.footerLogement {
  background-color: #000;
  width: 100%;
  height: 455px;
  margin-top: 50px;
}
.footerLogement .footerKasa {
  padding: 66px 464px 29px 463px;
  display: flex;
  justify-content: center;
}
.footerLogement p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1115px) {
  .logoAcceuil {
    width: 80%;
    white-space: nowrap;
    margin-left: 5%;
  }
  .pictureAccueil {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureAccueil img {
    width: 80%;
  }
  .pictureAccueil .pictureTitle {
    margin-top: 75px;
    position: absolute;
    white-space: wrap;
  }
  .Cards-background {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  html {
    display: block;
    height: 1065px;
  }
  #root {
    height: 1020px;
  }
  .banner {
    width: 95%;
    margin-left: 5%;
  }
  .banner img {
    width: 120px;
    margin-right: 0;
    margin-left: 2%;
  }
  .banner nav {
    margin-right: 10%;
    margin-top: 40px;
  }
  .banner nav .reference {
    width: auto;
    margin-top: 5% x;
    font-size: 12px;
    text-transform: uppercase;
  }
  .banner nav .about-reference {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: none;
    margin-left: 2%;
    text-transform: uppercase;
  }
  .banner nav :nth-child(3) {
    margin-left: 5%;
    margin-right: 12%;
    white-space: nowrap;
  }
  .pictureAccueil {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureAccueil img {
    width: 90%;
  }
  .Cards-background {
    background-color: #F6F6F6;
    width: 91%;
    margin: 0 auto;
    height: auto;
    border-radius: 25px;
  }
  .Cards-background .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 20px;
    margin-left: -7%;
    padding-left: 2%;
    margin-right: -6%;
    width: 110%;
  }
  .Cards-background .card-container .card {
    margin-top: 3%;
    width: 80%;
    height: auto;
    margin-left: 8%;
  }
  .Cards-background .card-container .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .Cards-background .card-container .card h3 {
    width: 100%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-top: -40px;
    margin-left: 0;
    white-space: wrap;
    max-width: 90%;
  }
  .footerAccueil .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerAccueil .footerText {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /*About*/
  .pictureAbout {
    display: flex;
    justify-content: center;
  }
  .pictureAbout img {
    width: 90%;
  }
  .footerAbout .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerAbout .footerH2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /*Error*/
  .bannerError {
    width: 100%;
  }
  .bannerError img {
    width: 145px;
    margin-right: 0;
    margin-left: 20px;
  }
  .bannerError .reference {
    width: auto;
    margin-left: 43px;
    margin-top: 35px;
    font-size: 12px;
  }
  .bannerError :nth-child(3) {
    margin-left: 26px;
    padding-top: 0;
  }
  .bannerError :nth-child(2) {
    padding-top: 0px;
    margin-left: 100px;
  }
  .Error404 h1 {
    width: 198px;
    height: 99px;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-bottom: 116px;
  }
  .Error404 P {
    margin-top: 0;
    width: 260px;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
  .Error404 a {
    width: 221px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 19.964px */
    text-decoration-line: underline;
  }
  .footerError {
    height: 288px;
  }
  .footerError .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerError p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /*Logement*/
  .bannerLogement {
    width: 100%;
  }
  .bannerLogement img {
    width: 145px;
    margin-right: 0;
    margin-left: 20px;
  }
  .bannerLogement .reference {
    width: auto;
    margin-left: 43px;
    margin-top: 35px;
    font-size: 12px;
    cursor: pointer;
  }
  .bannerLogement :nth-child(3) {
    margin-left: 26px;
    padding-top: 0px;
  }
  .bannerLogement :nth-child(2) {
    padding-top: 0px;
  }
  .titleLogement {
    width: 85%;
    height: 46px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-left: 5%;
    white-space: wrap;
  }
  .titleLogement h1 {
    margin-bottom: 5px;
  }
  .titleLogement .host {
    margin-top: -47px;
    margin-left: -158px;
  }
  .titleLogement .host p {
    margin-left: 385px;
    margin-top: 87px;
  }
  .tagsLogement {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .ratingHost {
    margin-top: 0;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .ratingHost .ratingLogement {
    margin-left: 5%;
    margin-top: 20px;
  }
  .directionRow {
    display: flex;
    flex-direction: column;
  }
  .directionRow .CardsPositionLogement {
    width: 95%;
    display: grid;
    justify-items: center;
    margin-left: 5%;
  }
  .directionRow .CardsPositionLogement .cardCollumn1 {
    margin-bottom: 5%;
  }
  .directionRow .CardsPositionLogement .cardCollumn1 .cardsEquipement1 {
    width: 90%;
    height: 50px;
    margin-left: 0;
  }
  .directionRow .CardsPositionLogement .cardCollumn1 .cardsEquipement1 h1 {
    margin-left: 10px;
  }
  .directionRow .CardsPositionLogement .cardCollumn1 .description {
    margin-left: 0;
    width: 90;
  }
  .directionRow .cardCollumn2 .cardsEquipementPosition2 {
    padding-left: 0;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  .directionRow .cardCollumn2 .cardsEquipementPosition2 .cardsEquipement2 {
    width: 90%;
    height: 50px;
    margin-top: 50px;
  }
  .directionRow .cardCollumn2 .cardsEquipementPosition2 .cardsEquipement2 h1 {
    margin-left: 10px;
  }
  .directionRow .cardCollumn2 .cardsEquipementPosition2 .description2 {
    margin-left: 0;
  }
  .footerLogement .footerKasa {
    padding: 66px 0 0 0;
  }
  .footerLogement p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 485px) {
  .pictureAccueil .pictureTitle {
    margin-top: 25px;
  }
}
@media screen and (max-width: 396px) {
  .ratingHost {
    margin-top: 0;
  }
}
@media screen and (max-width: 342px) {
  .tagsLogement {
    margin-bottom: 15%;
  }
}/*# sourceMappingURL=Styles.css.map */