$color_1 : #FF6060;
$color_2 : #FFF;
$color_3 : #F6F6F6;
$color_4 : #000;

.pictureLogement {
    position: relative;
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;

    img {
        width: 90%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
    }

    .arrowLeft,
    .arrowRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 46.68px;
        height: 79.2px; 
        cursor: pointer;
    }

    .arrowLeft {
        left: 90px;
    }

    .arrowRight {
        right: 90px;
    }

    .counter {
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin-top: 380px;
        color: $color_2;
    }
}


@media screen and (max-width : 1024px) {
    .pictureLogement {
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        img {
            width: 90%;
            height: 255px; 
            object-fit: cover;
        }
        .arrowRight{
            right: 75px;
        }
        .counter {
            margin-top: 220px;
        }
    }
}